.homework{
    padding: 64px 0;
}
.homework .workDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homework img{
    height: 50px;
    width: 50px;
}
.homeproject{
    padding: 64px 0;
}
.homeproject .projectHeading{
    display: flex;
    align-items: center;
}
.homeproject .leftpart{
    position: relative;
}
.homeproject .rightpart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overflow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    opacity: 0;
    background-color: rgba(50, 50, 100, 0.9);
    color: #fff !important;
    padding: 76px 48px;
    transition: 1s;
    transform: scaleX(0);
}
.homeproject .thumb{
    position: relative;
}
.homeproject .thumb:hover > .overflow{
    width: 50%;
    opacity: 1;
    transform: scaleX(1);
}
.homefeatures{
    padding: 64px 0;
}
.homefeatures p{
    text-align: center;
}
.homefeatures h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.homefeatures img{
    width: 34px;
    height: 34px;
}
.homefeatures .items{
    padding: 58px 48px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.homefeatures .items p{
    text-align: justify;
}
.homereview{
    padding: 64px 0;
}
.homereview .thumb{
    height: 52px;
    width: 52px;
}
.homereview .profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.homereview .profile h6, p{
    margin: 0;
    padding: 0;
}
.homeask{
    padding: 64px 0;
}
.homeask .items{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.homeask .questions{
    width: 90%;
}
.homeask .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeask .crossshow{
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeask .crossshow:hover{
    background-color: #002;
    color: #fff;
}

.homeask .sl{
    width: 5%;
    font-size: 20px;
    font-weight: 700;
    color: #99f;
}
.homeask .mybtn{
    width: 10%;
}
.homeask .myquestions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homemessage{
    padding: 64px 0;
}
.homemessage .form{
    padding: 64px;
    background-color: #1C1E53;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homemessage input{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 18px 32px;
    border-radius: 8px;
}
.homeblog{
    padding: 64px 0;
}
.homeblog h2{
    margin-bottom: 30px;
    font-weight: 700;
}
.homeblog .item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}