.homework{
    padding: 126px 0;
}
.homework .workDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homework img{
    height: 50px;
    width: 50px;
}
.homeproject{
    padding: 126px 0;
}
.homeproject .projectHeading{
    display: flex;
    align-items: center;
}
.homeproject .leftpart{
    position: relative;
}
.homeproject .rightpart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overflow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    opacity: 0;
    background-color: rgba(50, 50, 100, 0.9);
    color: #fff !important;
    padding: 76px 48px;
    transition: 1s;
    transform: scaleX(0);
}
.homeproject .thumb{
    position: relative;
}
.homeproject .thumb:hover > .overflow{
    width: 50%;
    opacity: 1;
    transform: scaleX(1);
}
.homefeatures{
    padding: 126px 0;
}
.homefeatures p{
    text-align: center;
}
.homefeatures h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.homefeatures img{
    width: 34px;
    height: 34px;
}
.homefeatures .items{
    padding: 58px 48px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.homefeatures .items p{
    text-align: justify;
}
.homereview{
    padding: 126px 0;
}
.homereview .thumb{
    height: 52px;
    width: 52px;
}
.homereview .profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.homereview .profile h6, p{
    margin: 0;
    padding: 0;
}
.homeask{
    padding: 126px 0;
}
.homeask .items{
    display: flex;
    justify-content: space-between;
}
.homeask .questions{
    width: 80%;
}
.homeask .sl, .mybtn{
    width: 10%;
}
.homeask .myquestions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}