@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none !important;
}
ul{
  list-style: none;
}
img{
  vertical-align: middle;
  width: 100%;
}
.btnContact{
  display: inline-block;
  padding: 16px 48px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 41px;
  transition: 1s;
  text-align: center;
}
.btnContact:hover{
  background-color: #FCD980;
  color: #000;
}
.viewmore{
  display: flex;
  justify-content: right;
}
.viewmore a{
  color: #000;
}